.footerPage {
  display: flex;
  height: max-content;
  width: 100%;
  background: #1f1d2b;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 50px;
}

.flistChild {
  display: grid;
  height: max-content;
  row-gap: 14px;
}

.fitems {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;

  /* Whyte */
  color: #ffffff;
}

.company {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: max-content;
  /* Primary */
  background: linear-gradient(to right, #73e0a9 0%, #5b68df 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flist {
  display: grid;
  grid-template-columns: 0fr 0fr 1fr 0fr;
  justify-content: right;
  gap: 70px;
}

.fleft {
  display: grid;
  width: 276px;
  height: max-content;
  gap: 18px;
}

.brandName {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  /* Whyte */
  color: #ffffff;
}

.fdesc {
  font-weight: 350;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;

  /* Whyte */
  color: #ffffff;
}

.fmain {
  display: flex;
  justify-content: space-between;
}

.fcpy {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .flist {
  }
}

@media screen and (max-width: 900px) {
  .flist {
    grid-template-columns: 0fr 0fr;
  }
}

@media screen and (max-width: 767px) {
  .fmain {
    display: grid;
  }
  .flist {
    grid-template-columns: 0fr 0fr 1fr 0fr;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 610px) {
  .fmain {
    display: grid;
    justify-content: left;
  }

  .footerPage {
    padding-top: 0;
  }

  .flist {
    grid-template-columns: 0fr 0fr;
    justify-content: left;
    padding-top: 2rem;
  }
  .fcpy {
    font-size: 12px;
  }
}
