@import "react-alice-carousel/lib/alice-carousel.css";

.title {
}
.img {
  width: 225px;
  align-items: center;

  padding-right: 1rem;
}

.section {
  background-color: transparent;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2 {
  max-width: 1440px;
  height: max-content;
  width: 100%;
}
