.title {
}
.img {
  height: 220px;
  width: 50px;
  border-radius: 5px;
  display: flex;
}

.img:hover {
  width: 220px;
}

.section {
  background-color: transparent;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owl_ {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: max-content;
  align-items: center;
  z-index: 66;
  width: 100%;
}

.container2 {
  max-width: 1440px;
  height: max-content;
}
