@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(70, 70, 70); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: greenyellow; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

body {
  max-width: 100%;
  height: max-content;
  overflow-x: hidden;
  background: #33cccc; /* Fallback */
  animation: color 8s infinite linear;
}
@keyframes color {
  0% {
    background: #18181b;
  }
  20% {
    background: #27272a;
  }
  40% {
    background: #313138;
  }
  60% {
    background: #313138;
  }
  80% {
    background: #262626;
  }
  100% {
    background: #171717;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1440px;
  margin: 0 auto;
  z-index: 60;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container2 {
  width: 1440px;
  margin: 0 auto;
  z-index: 60;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 1280px) {
  .landingH1 {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .container2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .container2 {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}

@media screen and (max-width: 520px) {
}

@media screen and (max-width: 480px) {
  .container {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
  .container2 {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}
